  @import "../helpers/variaveis";

  * {
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: baseline;
      border: 0 none;

      -webkit-text-size-adjust: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:before,
      &:after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
  }

  /* clearfix */
  .cf {
      *zoom: 1;

      &:after,
      &:before {
          content: " ";
          display: table;
      }

      &:after {
          clear: both;
      }
  }

  :focus {
      outline: 0;
  }

  html {
      width: 100%;
      height: 100%;
      font-size: 16px;

      @include mobile {
          font-size: 12px;
      }

      @include tabletH {
          font-size: 14px;
      }

      @include notebook {
          font-size: 16px;
      }
  }

  body {
      width: 100%;
      height: 100%;
      word-wrap: break-word;
      font-family: $font;
      font-size: 12px;
      background: #f1f1f1;



  }

  table {
      width: 100%;
  }

  span {
      max-width: 100%;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  img {
      max-width: 100%;
      height: auto;
  }

  strong {
      font-weight: bold;
  }

  input,
  select,
  textarea {
      width: 100%;
  }

  select {
      -webkit-appearance: none;
      /* Remove estilo padrão do Chrome */
      -moz-appearance: none;
      /* Remove estilo padrão do FireFox */
      appearance: none;

      &::-ms-expand {
          display: none;
      }
  }

  .link {
      display: block;
      width: 100%;
      height: 100%;
  }

  .relative {
      position: relative;
  }

  .absolute {
      position: absolute;
  }

  .fixed {
      position: fixed;
  }

  .db {
      display: block;
  }

  .dt {
      display: table;
      width: 100%;
      height: 100%;
  }

  .none {
      display: none;
  }

  .visible-none {
      visibility: hidden;
  }

  .both,
  .cboth {
      clear: both;

      @include mobile {
          clear: inherit;
      }
  }

  .cboth-mobo {
      @include mobile {
          clear: both;
      }
  }

  .text-center {
      text-align: center;
  }

  .text-right {
      text-align: right;
  }

  .text-left {
      text-align: left;
  }

  .f-left {
      float: left;
  }

  .f-right {
      float: right;
  }

  .align-center {
      display: inline-block;
      vertical-align: middle;
  }

  .vertical {
      display: table-cell;
      vertical-align: middle;
  }

  .uppercase {
      text-transform: uppercase;
  }

  .overflow {
      overflow: hidden;
  }

  .transition {
      @extend %transition;
  }

  .rounded {
      @include border-radius(4px, 4px);
  }

  .bgCover {
      @extend %bgCover;
  }

  @include tabletH {
      .tablet-text-center {
          text-align: center;
      }

      //codigo aqui
      .df {
          display: flex;
          display: -webkit-flex;
          -webkit-flex-direction: column;
          /* Safari */
          flex-direction: column;

          .order-0 {
              -webkit-order: 0;
              /* Safari */
              order: 0;
          }

          .order-1 {
              -webkit-order: 1;
              /* Safari */
              order: 1;
          }

          .order-2 {
              -webkit-order: 2;
              /* Safari */
              order: 1;
          }
      }
  }

  @include mobile {

      //codigo aqui
      .mobile-text-center {
          text-align: center;
      }

      .mobile-grid-parent {
          padding-left: 0;
          padding-right: 0;
      }
  }






  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
      display: inline-block;

  }



  .login {
      background: #30718c;

  }

  .login h1 a {
      width: 322px !important;
      height: 80px !important;
      background-image: url('../../build/imgs/logo.svg');
      background-size: 100%;

  }

  .login form {
      background: #ffffff;
  }

  .login label {
      color: #7f7f91;
      font-size: rem(18);
      font-family: $font;

      font-weight: bold;
  }

  .login form .forgetmenot label {
      color: #7f7f91;
      font-family: $font;

      font-weight: bold;
      font-size: rem(14);
  }

  .login .wp-core-ui .button-group.button-large .button,
  .wp-core-ui .button.button-large {
      font-family: $font;

      font-weight: bold;
  }


  .login .wp-core-ui .button-group.button-large .button,
  .wp-core-ui .button.button-large {
      height: auto !important;
      line-height: 28px !important;
      padding: 8px !important;
      background: #30718c !important;
      border: none !important;
      text-shadow: none !important;
      text-transform: uppercase !important;
  }

  .login #backtoblog a,
  .login #nav a {
      color: #ffffff;
      font-family: $font;

      font-weight: bold;
      font-size: rem(14);
  }

  figure {
      background: #000;
      color: #fff;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: pointer;
      transition: 0.6s;
      background-size: cover;
      height: 180px;
      @include notebook {
          height: 190px;
      }
      @include full{
          height: 290px;
      }


  }

  figure.front {
      z-index: 2;
      position: relative;


  }


  figure img {
      position: relative;
      display: block;
      min-height: 100%;
      opacity: 0.7;

  }


  .m-ativo {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
  }

  .banner {
      margin: rem(12.5);

      i {
          font-size: 3.8em;
          color: #30718c;
          margin-left: rem(-20);
          @include notebook {
              margin-left: rem(-10);
          }
      }

      p {
          color: #30718c;
          margin-top: 0px;
          line-height: 15px;
          font-size: rem(12);

          @include tabletH {
              margin-top: rem(6);
          }

          @include notebook {
              font-size: 13px;
              line-height: 19px;
          }
          
            @include full {
              font-size: 16px;
           
          }
          
      }


  }
