﻿
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
  font-family: 'weinvest';
  src: url('../fonts/weinvest.eot?3741319');
  src: url('../fonts/weinvest.eot?3741319#iefix') format('embedded-opentype'),
       url('../fonts/weinvest.woff2?3741319') format('woff2'),
       url('../fonts/weinvest.woff?3741319') format('woff'),
       url('../fonts/weinvest.ttf?3741319') format('truetype'),
       url('../fonts/weinvest.svg?3741319#weinvest') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'weinvest';
    src: url('../font/weinvest.svg?3741319#weinvest') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "weinvest";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-open-mini:before { content: '\e800'; } /* '' */
.icon-left-open-mini:before { content: '\e801'; } /* '' */
.icon-down-open-mini:before { content: '\e802'; } /* '' */
.icon-up-open-mini:before { content: '\e803'; } /* '' */
.icon-acessores:before { content: '\e804'; } /* '' */
.icon-atendimento:before { content: '\e805'; } /* '' */
.icon-bitcoins:before { content: '\e806'; } /* '' */
.icon-cambio:before { content: '\e807'; } /* '' */
.icon-carteira:before { content: '\e808'; } /* '' */
.icon-celular:before { content: '\e809'; } /* '' */
.icon-cobranca:before { content: '\e80a'; } /* '' */
.icon-dinheiro:before { content: '\e80b'; } /* '' */
.icon-lupa:before { content: '\e80c'; } /* '' */
.icon-plano:before { content: '\e80d'; } /* '' */
.icon-telefone:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */