@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin transform($value) {
  -webkit-transform: translate3d(0, 0, 0) $value;
  -moz-transform: translate3d(0, 0, 0) $value;
  -ms-transform: translate3d(0, 0, 0) $value;
  transform: translate3d(0, 0, 0) $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}
@mixin quadrado( $px ) {
    width: $px;
    height: $px;
}

@mixin inputplaceholder($color) {
    color: $color;
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}


@function rem($size) {
    @return $size / 16 + rem;
}

@mixin font($font, $size, $cor) {
    font-family: $font;
    font-size: ($size / 16 ) + rem;
    font-weight: 100;
    color: $cor;
}

@function get-vh($object) {
    $vh: (960 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

@mixin scale( $scale ){
	-webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
	transform: scale($scale);
}

@mixin zooIn($tamanho, $altura: auto) {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
	
    img {
        width: $tamanho + px;
        max-width: 100%;
		height: $altura;
		
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;

		position: relative;
        display: block;
    }

    &:hover {
        img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}


/* Media Querys */
$full: "screen and (min-width: 1601px)";
$mrv: "screen and (min-width: 1380px)";
$notebook: "screen and (min-width: 1200px)";
$media1025: "screen and (min-width: 1025px)";
$tabletW: "screen and (min-width: 960px)";
$tabletH: "screen and (min-width: 768px)";
$mobile: "screen and (max-width: 767px)";
$miniMoble: "screen and (max-width: 400px)";


@mixin full {
  @media #{$full} {
    @content;
  }
}
@mixin mrv {
  @media #{$mrv} {
    @content;
  }
}
@mixin notebook {
  @media #{$notebook} {
    @content;
  }
}
@mixin media1025 {
  @media #{$media1025} {
    @content;
  }
}
@mixin tabletW {
  @media #{$tabletW} {
    @content;
  }
}
@mixin tabletH {
   @media #{$tabletH} {
    @content;
  }
}
@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}
@mixin miniMobile {
  @media #{$miniMoble} {
    @content;
  }
}


@mixin responsive-bg-image($image-width, $image-height) {
    background-size: 100%;
    height: 0;
    padding-bottom: (percentage($image-height / $image-width));
    display: block;
}
