//FONTS
$font: 'Verdana';

$como-investir: #684b9e;
$renda-fixa:#299fcd;
$renda-variavel:#1a1d1d;
$tesouro-direto:#0f5a5b;
$fundos-de-investimentos:#124562;
$mercado-e-noticias:#868686;
$previdencia-e-protecao:#565b67;
$cambio-cryptos:#208b8c;
