.branch {
    text-align: center;
    width: 100%;
    background-size: cover;
    margin: rem(20) 0 rem(20) 0;

    @include tabletH {
        height: auto;

    }

    &.branch-cambio {
        

    }

    &.branch-criptomoeda {
       

    }

    &.branch-plano {

}

    .btn-branch {
        width: 50%;
        margin: 0 auto;

    }

    i {
        font-size: 45px;


    }

    hr {
        height: 1px;

    }

    h2 {
        font-size: 16px;
    }

    p {
        padding: rem(15) rem(30);
        line-height: 1.3rem;

        @include tabletH {
            padding: rem(15) rem(0);

        }

        @include notebook {
            font-size: 13px;
            padding: rem(15)
        }

    }

}
