.btn {
    background-color: #30708c;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    text-transform: uppercase;
    margin-top: rem(10);
    font-weight: bold;
    letter-spacing: 1px;
    
    


    &:hover {
        background-color: #30708c;
    }

    &:active {
        position: relative;
        top: 1px;
    }

}
