.cats {
    padding-bottom: rem(30);

    @include tabletH {
        padding-bottom: rem(30);
    }

    .list-post-cat {
        padding: rem(60) 0;

        @include notebook {
            padding: rem(30) 0;
        }


        .slick-arrow {

            &.slick-prev {
                bottom: -20px;
                right: 60px;

                &:before {
                    font-family: 'weinvest';
                    content: '\e801';
                    font-size: 40px;
                    color: #505259;

                }
            }

            &.slick-next {
                bottom: -20px;
                right: 20px;

                &:before {
                    font-family: 'weinvest';
                    content: '\e800';
                    font-size: 40px;
                    color: #505259;

                }
            }
        }

        .slick-next,
        .slick-prev {
            font-size: 0;
            position: absolute;
            cursor: pointer;
            color: transparent;
            border: none;
            background: none;
            outline: 0;
        }

        &.single-post-cat {
            padding-bottom: 0;

            .box-posts {
                @include tabletH {
                    width: 100%;
                    margin: 0 0 rem(20) 0;
                    border: 1px solid #e5e5e8;



                }

            }
        }

        .box-posts {
            h2 {
                padding-top: 1.1rem;
                line-height: 1.8rem;

                &.como-investir {
                    color: $como-investir;
                }

                &.renda-fixa {
                    color: $renda-fixa;
                }

                &.renda-variavel {
                    color: $renda-variavel;
                }

                &.tesouro-direto {
                    color: $tesouro-direto;
                }

                &.fundos-de-investimentos {
                    color: $fundos-de-investimentos;
                }

                &.mercado-e-noticias {
                    color: $mercado-e-noticias;
                }

                &.previdencia-e-protecao {
                    color: $previdencia-e-protecao;
                }

                &.cambio-cryptos {
                    color: $cambio-cryptos;
                }



            }
        }

        &.list-post-cat-single {

          

        }
    }

    .box-posts {
        width: 250px;
        float: left;
        margin: 0 rem(10);
        background: #ffffff;

        @include notebook {
            width: 93%;
            background: none;

        }

        figure {
            .caption {
                position: absolute;
                z-index: 999;
                bottom: 20px;
                padding: 1em;
                text-align: left;

                .post-cat {
                    text-transform: uppercase;

                    padding: 5px 10px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;

                    &.como-investir {
                        background: $como-investir;
                    }

                    &.renda-fixa {
                        background: $renda-fixa;
                    }

                    &.renda-variavel {
                        background: $renda-variavel;
                    }

                    &.tesouro-direto {
                        background: $tesouro-direto;
                    }

                    &.fundos-de-investimentos {
                        background: $fundos-de-investimentos;
                    }

                    &.mercado-e-noticias {
                        background: $mercado-e-noticias;
                    }

                    &.previdencia-e-protecao {
                        background: $previdencia-e-protecao;
                    }

                    &.cambio-cryptos {
                        background: $cambio-cryptos;
                    }
                }

                .post-name {
                    display: block;
                    font-size: 18px;
                    color: #ffffff;
                    margin: rem(25) 0;
                    line-height: rem(30);


                }

                .post-date {
                    font-weight: bold;
                    text-transform: uppercase;


                }

            }

        }

        h2 {
            font-size: 18px;
            color: #dc7921;
            line-height: rem(30);
            padding: rem(25) rem(20) 0 rem(20);
            font-weight: 400;

            @include notebook {
                padding: 0;
                font-size: 24px;
            }

            &.como-investir {
                color: $como-investir;
            }

            &.renda-fixa {
                color: $renda-fixa;
            }

            &.renda-variavel {
                color: $renda-variavel;
            }

            &.tesouro-direto {
                color: $tesouro-direto;
            }

            &.fundos-de-investimentos {
                color: $fundos-de-investimentos;
            }

            &.mercado-e-noticias {
                color: $mercado-e-noticias;
            }

            &.previdencia-e-protecao {
                color: $previdencia-e-protecao;
            }

            &.cambio-cryptos {
                color: $cambio-cryptos;
            }


        }

        .data {
            font-size: 12px;
            color: #000000;
            line-height: rem(30);
            padding: rem(10) rem(20) rem(0) rem(20);
            font-weight: 700;
            text-transform: uppercase;
            display: block;

            @include notebook {
                padding-left: 0;
            }

        }

        p {
            font-size: 12px;
            color: #505259;
            line-height: rem(30);
            padding: rem(10) rem(20) rem(25) rem(20);
            font-weight: 400;

            @include notebook {
                line-height: rem(22);
                padding-left: 0;
            }

        }

        &.box-list-cats {
            width: 100%;
            margin: rem(15) 0 0 0;

            figure {
                margin-bottom: rem(15);
            }

        }

    }

    .name-cat {
        .post-cat {
            text-transform: uppercase;
            padding: 5px 10px;
            margin: rem(15) 0 0 0;
            display: inline-block;
            color: #ffffff;

            @include full {
                font-size: 16px;
            }

            &.como-investir {
                background: $como-investir;
            }

            &.renda-fixa {
                background: $renda-fixa;
            }

            &.renda-variavel {
                background: $renda-variavel;
            }

            &.tesouro-direto {
                background: $tesouro-direto;
            }

            &.fundos-de-investimentos {
                background: $fundos-de-investimentos;
            }

            &.mercado-e-noticias {
                background: $mercado-e-noticias;
            }

            &.previdencia-e-protecao {
                background: $previdencia-e-protecao;
            }

            &.cambio-cryptos {
                background: $cambio-cryptos;
            }



        }

        hr {
            display: block;
            width: 100%;
            height: 1px;
            background: #7a4dce;
            margin-bottom: rem(20);

            &.como-investir {
                background: $como-investir;
            }

            &.renda-fixa {
                background: $renda-fixa;
            }

            &.renda-variavel {
                background: $renda-variavel;
            }

            &.tesouro-direto {
                background: $tesouro-direto;
            }

            &.fundos-de-investimentos {
                background: $fundos-de-investimentos;
            }

            &.mercado-e-noticias {
                background: $mercado-e-noticias;
            }

            &.previdencia-e-protecao {
                background: $previdencia-e-protecao;
            }

            &.cambio-cryptos {
                background: $cambio-cryptos;
            }


        }
    }

    .s-cat {
        h2 {
            font-size: 18px;
            color: #42434a;
            line-height: rem(30);
            padding: rem(25) 0 0 0;
            font-weight: 700;

        }

    }

    &.cat-single {
        padding-bottom: 0;

    }
      .slick-arrow {
               margin: rem(20) 0;

                &.slick-prev {
                    bottom: -37px;
                    right: 60px;

                    &:before {
                        font-family: 'weinvest';
                        content: '\e801';
                        font-size: 40px;
                        color: #505259;

                    }
                }

                &.slick-next {
                    bottom: -37px;
                    right: 20px;

                    &:before {
                        font-family: 'weinvest';
                        content: '\e800';
                        font-size: 40px;
                        color: #505259;

                    }
                }
            }

            .slick-next,
            .slick-prev {
                font-size: 0;
                position: absolute;
                cursor: pointer;
                color: transparent;
                border: none;
                background: none;
                outline: 0;
            }


}
