.form {
    border-top: 1px solid #8b8e98;
    border-bottom: 1px solid #8b8e98;
    padding: rem(25) 0;
    margin: rem(20) 0;

    h2 {
        font-size: 16px;
        color: #ffffff;
        line-height: rem(30);
        font-weight: 400;
        margin-bottom: rem(30);

        @include notebook {
            font-size: 20px;
        }

    }

    label {
        font-size: 12px;
        color: #ffffff;
        line-height: rem(30);
        font-weight: 400;
        margin: rem(10) 0;
        display: block;

        @include notebook {
            font-size: 15px;
        }

    }

    input[type="text"],
    input[type="email"] {
        background: #3c3f4b;
        border: 1px solid #8b8e98;
        padding: rem(10);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .btn {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: rem(15);
    }

    &.form-blue {
        background: #31728e;
        margin-bottom: 0;

        @include notebook {
            margin: 0 auto;
            padding: 20px 30px;
        }


        h2,
        label {
            color: #ffffff;
            font-weight: bold;

        }

        i {
            color: #ffffff;
            font-size: 65px;
            position: relative;
            left: -20px;
        }

        h2 {
            padding-right: rem(100);
        }

        input[type="text"],
        input[type="email"] {
            background: #c2d5dd;
            font-weight: bold;

        }

        .btn {
            background: #ffb31f;
            color: #31728e;
            font-weight: bold;

            @include notebook {
                width: 30%;
                float: right;
                font-size: 16px;
                padding: rem(10) 0;
            }
        }
    }
}
