.btn-menu {
    display: block;
    border: 0;
    width: 40px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}



.btn-menu .text {
    display: block;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-menu .bar {
    top: 10px;
    left: 0;
}

.btn-menu .bar:before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    background-color: #ffffff;
}

.btn-menu .bar:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    background-color: #ffffff;
}

.show .btn-menu .bar {
    background-color: transparent;
}

.show .btn-menu .bar:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show .btn-menu .bar:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.overlay {
    width: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in;
    background-color: rgba(56, 59, 68, 0.9);
    z-index: 8888;
}

.show .overlay {
    width: 80%;
    height: 100%;
    positiion: fixed;

    @include tabletH {
        width: 45%;
    }

}

nav ul {
    list-style-type: none;
    padding-top: 20%;
    padding-left: 5%;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s 0.2s ease-out;
}

.show nav ul {
    opacity: 1;
    transform: translateX(0);

    i {
        float: none;
        color: #ffffff;
        font-size: 20px;
    }
}

nav a {
    display: block;
    width: 100%;
    margin: rem(15) 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;

}

.dropdown {
    width: 130px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 13px;

    @include notebook {
        margin-top: 47px;
        width: 170px;
        position: relative;

    }
}

.dropdown.toggle > input {
    display: none;
}

.dropdown > a,
.dropdown.toggle > label {
    border-radius: 10px;

}

.dropdown > a::after,
.dropdown.toggle > label::after {
    content: "";
    float: right;
    margin: 15px 15px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #CCC;
}

.dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 9999;
}

.dropdown a,
.dropdown.toggle > label {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;

    color: #61616c;
    background-color: #FFF;
}

.dropdown li {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.dropdown.hover li {
    transition-delay: 300ms;
}

.dropdown li:first-child a {
    border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
}

.dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    margin: -10px 0 0 30px;
}

.dropdown a:hover,
.dropdown.toggle > label:hover,
.dropdown.toggle > input:checked ~ label {
    background-color: #EEE;
    color: #666;
}

.dropdown > a:hover::after,
.dropdown.toggle > label:hover::after,
.dropdown.toggle > input:checked ~ label::after {
    border-top-color: #AAA;
}

.dropdown li:first-child a:hover::before {
    border-bottom-color: #EEE;
}

.dropdown.hover:hover li,
.dropdown.toggle > input:checked ~ ul li {
    height: 40px;
}
