.footer {
    background: #2d303c;
    padding: 1.25rem 0 7rem 0;
    @include notebook{
       padding: 1.25rem 0 0.5rem 0; 
    }

    .logo-footer{
        @include notebook{
            padding: 20px 0;
            
        }
    }
    .links-footer {
        padding: rem(20) 0;

        li {
            display: inline-block;
            display: block;
            margin: rem(10) 0;
            width: 50%;
            float: left;

            @include tabletH {
                float: none;
                display: block;
                width: 100%;
                margin: rem(20) 0;

            }

            a {

                color: #ffffff;

                @include tabletH {
                    font-size: rem(14);
                }

                @include notebook {
                    font-size: rem(12);
                }

                @include full {
                    font-size: 14px;
                }
            }

            .submenu {
                li {
                    @include tabletH {
                        display: block;
                        width: 100%;
                        margin-left: 20%;

                    }

                    a {
                        color: #939498;

                    }
                }
            }

        }
    }

    .social {
        background: #2d303c;
        border-top: 1px solid #8b8e98;
        border-bottom: 1px solid #8b8e98;
        padding: rem(50)0 rem(20) 0;
        margin-top: 25px;

        @include tabletH {
            border: none;
        }
        @include notebook{
            margin-top: 0;
            
        }

        span,
        h2 {
            color: #ffffff;

        }

        h2 {

            @include notebook {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .txt-footer {
        color: #acadb0;
        padding: rem(15) 0;
        line-height: rem(25);
    }

    .menu-footer {
        background: #31728e;
        position: fixed;
        bottom: 0;
        text-align: center;

        a,
        i {
            color: #ffffff;
            line-height: rem(30) 0;
        }

        a {
            border-right: 1px solid #8b8e98;
            float: left;
            padding: rem(10) 5px;
            width: 100%;

        }

        i {
            display: block;
            font-size: 30px;
            margin: 5px 0;
        }

    }

    .form {
        @include notebook {
            border: none;

            h2 {

                @include notebook {
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: bold;
                }
            }

        }
    }
}
