@import "compass/css3";
@import "compass/utilities";

.header {
    background: #30718c;

    @include notebook {
        background: #ffffff;
        border-bottom: 1px solid #d9d9db;
    }

    h1 {
        @include notebook {
            margin-top: rem(35);
        }
    }

    .icon-lupa {
        @include notebook {
            color: #b0afb4;
            font-size: 2.5em;
            float: right;
            margin-top: rem(30);

        }
    }

    .content-header {
        padding: rem(17) 0;

        i.icon-lupa {
            color: #ffffff;
            float: right;
            font-size: 24px;

        }
    }

    .social-menu {
        border: none;
        margin: 0% 5%;
        border-top: 1px solid #8b8e98;
        border-bottom: 1px solid #8b8e98;
        padding: 4% 0;

        h2 {
            font-size: 16px;
            color: #ffffff;
            line-height: 1.875rem;
            font-weight: 400;
            margin-bottom: 0.875rem;
        }

        ul {
            li {
                display: inline;

                a {
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
    }

    .news-menu {
        padding: 0 5%;

    }

    .form {
        padding: 5% 0;
        margin: 0;
        border: none;

        h2 {
            margin-bottom: 0;

        }
    }

    .content-header-desk {
        .h-top {
            height: 108px;
            border-bottom: 1px solid #d9d9db;
        }

        .nav-desk {
            width: 100%;
            margin: 0 auto;
            background: #ffffff;
            color: #f0f0f0;
            height: 53px;

            .nav-menu,
            .nav-submenu {
                padding: 0;
                opacity: 1;
                transition: none;
                height: auto;
                transform: none;
            }

            .nav-menu {
                margin-top: rem(20);

                li {
                    display: inline;
                    position: relative;
                    padding: 20px 0;

                    @include notebook {
                        margin-right: rem(25);
                    }

                    @include full {
                        margin-right: rem(30);
                    }

                    a {
                        color: #42434a;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: bold;
                        display: inline;

                        @include notebook {
                            font-size: 11px;
                        }

                        @include full {
                            font-size: 14px;
                        }


                    }

                    .nav-submenu {
                        position: absolute;
                        left: -8px;
                        z-index: 9999;
                        background: #ffffff;
                        top: 53px;
                        padding: rem(10) rem(20);
                        border: 1px solid #d3d2d8;
                        border-top: none;
                        width: 235px;
                        opacity: 0;
                        -webkit-transition: opacity 0.5s ease-in-out;
                        -moz-transition: opacity 0.5s ease-in-out;
                        -ms-transition: opacity 0.5s ease-in-out;
                        -o-transition: opacity 0.5s ease-in-out;
                        transition: opacity 0.5s ease-in-out;

                        li {
                            display: block;
                            margin: rem(12) 0;
                            padding: 0;

                            a {
                                font-size: 13px;
                                font-weight: 400;
                                color: #616267;
                                margin-left: 40px;

                            }

                            &:after {
                                display: none;
                            }

                            &:before {
                                content: '\e800';
                                font-family: "weinvest";
                                color: #42434a;
                                font-size: 1.5em;
                                position: absolute;
                                top: 0px;
                                left: 20px;
                            }
                        }


                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:after {
                        content: '\e802';
                        font-family: "weinvest";
                        color: #42434a;
                        font-size: 2em;
                        position: absolute;
                        top: 15px;
                        right: -15px;

                    }

                    &:hover {
                        .nav-submenu {
                            opacity: 1;
                        }
                    }
                }
            }


        }
    }


}
