﻿@charset "UTF-8";

/* COMPASS */
@import "compass";
@import "compass/reset";
@import "compass/css3";

/* HELPERS */
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/variaveis";

/* CSS BASE */
@import "base/grid";
@import "base/fonts";
@import "base/default";
@import "base/animacoes";

/* TEMPLATE */
@import "components/forms";
@import "components/menu";
@import "components/branch";
@import "components/btn";
@import "components/busca";
@import "components/cats";
@import "layout/header";
@import "layout/footer";




.pswp {
    display: none;
}



@include mobile {
    .chat_menu_rodape.no-desktop {
        display: block;
        position: fixed;
        bottom: 0;
        background: #5a5a5a;
        width: 100%;
        height: rem(51);
        z-index: 200;
    }
}

.post-dest,
.post-sec {
    position: relative;

    .caption {
        position: absolute;
        z-index: 999;
        bottom: 0;
        padding: 2em;
        text-align: left;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
        /* IE6-9 */

        .post-cat {
            text-transform: uppercase;
            padding: 5px 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            &.como-investir {
                background: $como-investir;
            }

            &.renda-fixa {
                background: $renda-fixa;
            }

            &.renda-variavel {
                background: $renda-variavel;
            }

            &.tesouro-direto {
                background: $tesouro-direto;
            }

            &.fundos-de-investimentos {
                background: $fundos-de-investimentos;
            }

            &.mercado-e-noticias {
                background: $mercado-e-noticias;
            }

            &.previdencia-e-protecao {
                background: $previdencia-e-protecao;
            }

            &.cambio-cryptos {
                background: $cambio-cryptos;
            }
        }

        .post-name {
            display: block;
            font-size: 18px;
            color: #ffffff;
            margin: rem(25) 0;
            line-height: rem(30);
            font-weight: bold;

            @include full {
                font-size: 24px;
            }


        }

        .post-date {
            font-weight: bold;
            text-transform: uppercase;
            color: #c6c8c9;



        }

    }
}

.social {
    background: #ffffff;
    border-top: 1px solid #e1e1e4;
    border-bottom: 1px solid #e1e1e4;
    padding: rem(50) 0;

    @include tabletH {
        margin-top: rem(10);
        padding: rem(25) rem(5);

    }

    @include full {
        margin-top: 2.625rem;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        color: #42434a;
        margin-bottom: rem(30);

    }

    ul {
        li {
            margin: rem(15) 0;
            display: block;



            i {
                color: #ffffff;
                font-size: 2.5em;
                text-align: center;
                padding: 10px 0;
                display: inline-block;
                width: 50px;
                height: 50px;
            }

            i.icon-facebook {
                background: #4d69a3;

            }

            i.icon-instagram {
                background: #f09433;
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

            }

            i.icon-youtube-play {
                background: #e14e42;

            }

            i.icon-twitter {
                background: #29c5f6;
            }

            span {
                color: #505259;
                font-size: 12px;
                margin-left: rem(15);
                position: relative;
                top: -8px;

                @include tabletH {
                    margin-left: 0.5rem;
                }


            }

            a {
                float: right;
                text-transform: uppercase;
                color: #3a90b5;
                margin-top: rem(25);
                margin-right: 5%;

                @include tabletH {
                    margin-right: 0;
                    margin-top: rem(20);

                }

            }

        }
    }

}

.sidebar {
    .ferramentas {
        margin-top: rem(40);

        h2 {
            color: #42434a;
            line-height: rem(30);
            font-size: 19px;
            padding-top: 1em;
            padding-bottom: rem(5);
            font-weight: 700;
            border-bottom: 1px solid #cfced5;
            margin-bottom: rem(20);
            letter-spacing: 1px;
        }

        .box-ferramenta {
            background: #126b92;
            margin-bottom: rem(10);
            height: 65px;

            i {
                color: #ffffff;
                font-size: 25px;
                background: #0c5a7c;
                padding: rem(22) 0;
                display: block;
                text-align: center;
                height: 65px;
            }

            a {

                color: #ffffff;
                font-weight: bold;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;

                @include notebook {
                    font-size: rem(11);
                }

                @include full {
                    font-size: rem(14);
                }

                span {
                    padding: 20px 10px;
                    display: block;
                }


            }
        }

    }

    .cat-aside {
        .s-cat {
            border: none;
        }

        h2 {

            @include notebook {

                border-bottom: 1px solid #cfced5;
                margin-bottom: 1.25rem;

            }
        }

        .box-posts {
            background: #ffffff;
            width: 250px;
            margin-bottom: rem(25);
            border: 1px solid #e4e4e6;
            border-radius: 5px;
            margin: rem(15) .625rem;

            @include notebook {
                width: 100%;
                margin: rem(15) 0;
            }

            figure {
                height: 180px;

                @include notebook {
                    height: 180px;

                }
            }

            h2 {
                @include notebook {
                    padding: rem(20) rem(20) 0 rem(20);
                    border: none;
                    margin: 0;

                }
            }

            p,
            .data {
                padding-left: rem(20);
            }
        }
    }
}

#breadcrumbs {
    padding: rem(25) 0 rem(10) 0;

    span {
        font-size: 12px;
        color: #000000;
        line-height: 1.875rem;

        text-transform: uppercase;

    }
}

.no-padding {
    padding: 0;
}
