@import "geral";

.pg-home {
    .post-dest {
        .p-figure {
            height: 280px;

            @include tabletH {
                height: 370px;
            }

            @include notebook {
                height: 472px;

            }
        }
    }

    .post-sec {
        .slider-post-sec {
            a {
              
            }
        }

        .s-figure {
            height: 180px;
            width: 300px;
            
            @include tabletH {
                height: 185px;
            }

            @include notebook {
                height: 236px;

            }

            .post-name {
                font-size: 18px;
            }

            .post-cat {
                @include notebook {
                    font-size: 11px;
                }

                @include full {
                    font-size: 12px;
                }
            }
        }
    }

    .s-cat {
        border-bottom: 1px solid #cfced5;
        padding-bottom: rem(15);
    }

    .cat-home {
        h2 {
            font-size: 14px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #42434a;
            padding-top: rem(40);

            @include notebook {
                font-size: 24px;
                padding-top: rem(48);
            }

        }

        h3 {
            font-size: 12px;
            color: #dc7921;
            text-transform: uppercase;
            padding-top: rem(40);
            float: left;

            @include notebook {
                font-size: 15px;
                padding-top: rem(60);

            }
        }

        select {
            width: 50%;
            float: right;
            margin-top: rem(35);
            height: 23px;
            padding: 0 rem(10);
            border: 1px solid #cfced5;
            background: #ffffff;
            color: #888997;

            @include tabletH {
                width: 65%;
            }

            @include notebook {
                width: 58%;
                margin-top: rem(55);

            }



        }

        .list-post-cat {
            &.bx-none {
                display: none;
            }
        }
    }


}
