@import "geral";

.page-interna {
    .cats {
        padding-bottom: 0;
    }

    &.single {


        .user-post {
            background: #ffffff;

            img {
                border: 5px solid #d3d2d9;
                margin: 0 auto;
                display: block;
            }

            hr {
                height: 1px;
                background: #d3d2d9;
                display: inline-block;
                width: 100%;
                margin: rem(40) 0;

            }

            h3 {
                font-weight: bold;
                font-size: 12px;
                color: #505259;

                @include notebook {
                    font-size: 18px;
                }

            }

            p {
                font-size: 12px;
                color: #505259;
                line-height: rem(30);
                padding: rem(10) 0;
                font-weight: 400;

                @include notebook {
                    font-size: 16px;
                }
            }
        }

        .shared {
            border: none;
            background: #ffffff;
            padding: 0 0 rem(25) 0;
            border-bottom: 1px solid #d3d2d9;

            .social {
                border: none;
                padding: 0;

                @include notebook {
                    margin-top: 0;
                }

                ul {
                    li {
                        display: inline;

                        a {
                            float: none;
                        }
                    }
                }
            }

        }

        .menu-posts {
            h2 {
                font-size: 18px;
                color: #42434a;
                line-height: rem(30);
                padding: rem(15) 0 rem(15) 0;
                font-weight: 400;
                border-bottom: 1px solid #d3d2d9;
                font-weight: bold;
                display: block;

                @include notebook {
                    font-size: 24px;
                    margin-top: rem(20);
                }


            }

            ul {
                padding: rem(15) 0;

                li {
                    display: inline-block;
                    margin: rem(25) 0;

                    a {
                        background: #e6e6e9;
                        padding: rem(10);
                        text-align: center;
                        border: 1px solid #d3d2d9;
                        color: #888997;

                    }
                }
            }

            .categories,
            .cat-item-none {
                display: none;
            }

        }

        .cat-single {
            padding-bottom: 1.875rem;

            h2 {
                font-size: 24px;

                &.como-investir {
                    color: $como-investir;
                }

                &.renda-fixa {
                    color: $renda-fixa;
                }

                &.renda-variavel {
                    color: $renda-variavel;
                }

                &.tesouro-direto {
                    color: $tesouro-direto;
                }

                &.fundos-de-investimentos {
                    color: $fundos-de-investimentos;
                }

                &.mercado-e-noticias {
                    color: $mercado-e-noticias;
                }

                &.previdencia-e-protecao {
                    color: $previdencia-e-protecao;
                }

                &.cambio-cryptos {
                    color: $cambio-cryptos;
                }


            }
        }

        .box-posts {
            p {
                @include notebook {
                    font-size: 15px;

                    line-height: 1.875rem;
                }
            }

            h2,
            h3,
            h4,
            ul li,
            ol li {
                color: #505259
            }

            h3 {
                font-size: 13px;
                line-height: 1.875rem;
                padding: 1.5625rem 0;
                font-weight: 400;

                @include notebook {
                    font-size: 18px;
                }
            }

            h4 {
                font-size: 12px;
                line-height: 1.875rem;
                padding: 1.5625rem 0;
                font-weight: 400;

                @include notebook {
                    font-size: 16px;
                }
            }

            ul,
            ol {
                font-size: 13px;
                line-height: 1.875rem;
                padding: 1.5625rem 0;
                padding-left: 5%;

                @include notebook {
                    font-size: 15px;
                }

                li {}
            }

            ul {
                list-style-type: circle;

                li {
                    list-style-type: circle;

                }
            }

            ol {
                list-style-type: decimal;

                li {
                    list-style-type: decimal;

                }
            }
        }
    }

    &.contato {
        background: #ffffff;

        .conteudo {

            width: 100%;
            margin: rem(15) 0 0 0;



            h1 {
                font-size: 21px;
                color: #5c6c82;
                line-height: rem(30);
                padding: rem(25) rem(20) rem(25) rem(20);
                font-weight: 700;

                @include notebook {
                    font-size: 24px;
                    padding-left: 0;
                }
            }

            p {
                font-size: 12px;
                color: #505259;
                line-height: rem(30);
                padding: rem(10) rem(20) rem(25) rem(20);
                font-weight: 400;

                @include notebook {
                    font-size: 15px;
                    padding: 10px 0 10px 0;
                }

            }

            img {
                margin-bottom: rem(20);
            }

            .list {
                @include notebook {
                    margin: rem(50) 0;
                }

                i {
                    font-size: 56px;
                    display: block;
                    text-align: center;
                    color: #505259;
                }

                ul {
                    li {
                        border-bottom: 1px dotted #7f7f7f;
                        padding: 10px 0;
                        display: inline-block;
                        width: 100%;



                        &:last-child {
                            border: none;
                        }


                    }
                }
            }

        }
    }

    &.page-list {
        .menu-posts {
            h2 {
                font-size: 18px;
                color: #42434a;
                line-height: rem(30);
                padding: rem(15) 0 rem(15) 0;
                font-weight: 400;
                border-bottom: 1px solid #d3d2d9;


            }

            ul {
                padding: rem(15) 0;

                .categories {
                    display: none;
                }

                li {
                    display: inline-block;
                    margin: rem(25) 0;

                    a {
                        background: #e6e6e9;
                        padding: rem(10);
                        text-align: center;
                        border: 1px solid #d3d2d9;
                        color: #888997;

                    }
                }
            }

            .categories,
            .cat-item-none {
                display: none;
            }

        }

        .cat-single {
            padding-bottom: 1.875rem;
        }
    }

    &.simuladores {
        .icon-plano {
            font-size: 5em;
            color: #5c6c82;
            text-align: left;

        }

        .conteudo {
            h1 {
                padding-top: 0
            }

            .list {

                h2 {
                    font-size: 25px;
                    color: #5c6c82;
                    font-weight: bold;

                }

                i {

                    text-align: left;
                }

                .montante {
                    color: #5c6c82;
                    font-size: 14px;
                    padding: rem(10) 0;
                }

                .cmontante {
                    color: #5c6c82;
                    font-size: 12px;
                    font-weight: bold;
                    padding: rem(10) 0;
                }

                .total {
                    font-size: 25px;
                    padding: rem(25) 0;
                    color: #5c6c82;

                }


                ul {

                    li {
                        border-top: 1px solid #5c6c82;
                        border-bottom: none;
                        margin-top: 20px;
                        &:last-child{
                            border-top: 1px solid #5c6c82;
                            margin-top: 0;
                            border-bottom: 1px solid #5c6c82;
                        }

                    }

                }
            }
        }

        .form {
            &.form-blue {
                h2 {
                    font-size: 25px;
                    border-bottom: 1px solid #fff;
                    padding-bottom: rem(15);
                }
            }
        }

        .shared{
            .social{
                ul{
                    li{
                        display: inline-block;
                        a{
                            float: none;
                        }
                    }
                }
            }
        }
    }



}
